<div class='menu'>
    <ul class='menu-list'>
        <li><%= link_to 'Food', foods_path%></li>
        <li><%= link_to 'Recipes', recipes_path%></li>
        <li><%= link_to 'Public Recipes', recipes_path%></li>
        <li><%= link_to 'Shopping List', recipes_path%></li>
    </ul>
    <%= button_to "logout", destroy_user_session_path , method: :delete, class: 'add-food-link' %>
</div>